.costomisation{
    height: 800px;
    background-image: url('./background.png');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    margin-top: 150px;
}

.inner{
    padding-top: 75px;
}

.title{
    max-width: 473px;
    font-size: 64px;
    font-weight: 700;
}

.text{
    max-width: 473px;
    font-size: 22px;
    line-height: 28px;
    font-weight: 500;
    color: #8F8F94;
    margin-top: 15px;
}

@media(max-width: 670px){
    .title{
        font-size: 48px;
    }

    .text{
        font-size: 18px;
        line-height: 24px;
    }
}